body {
  box-sizing: border-box;
}

#logo {
  height: 32px;
  width: auto;
}

#mainNavbar {
  font-size: 1.25rem;
}

#mainNavbar .nav-link:hover {
  color: #ce4b03;
}

.red-asterisk {
  color: #dc3545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f89603;
}

#home-section {
  background: url('https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: -2;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#mainHeading {
  font-weight: 400;
  text-shadow: 2px 2px #000;
  letter-spacing: 0.7rem;
}

#jumbo-img {
  border: 1px solid #f89603;
}

#jumbo-content .lead {
  font-size: 1.65rem;
}

#jumbo-content {
  text-shadow: 1px 1px #000;
  font-size: 1.35rem;
}

.easter-girl {
  width: auto;
  height: 35px;
}

#regis-event-img {
  opacity: 0.9;
  max-width: 500px;
  max-height: 325px;
  border: 2px solid #f89603;
}

.bg-orange {
  background-color: #ce4b03;
  color: #f7f7f7;
}

.bg-orange:hover {
  background-color: white;
  border: 1px solid #ce4b03;
  color: #ce4b03;
}

.border-orange {
  border-color: #ce4b03;
}

hr {
  -moz-border: 0;
  -moz-height: 2px;
  -moz-background-image: linear-gradient(to right, rgb(248, 150, 3, 0), rgb(206, 75, 3, 0.75), rgb(248, 150, 3, 0));
  -ms-border: 0;
  -ms-height: 2px;
  -ms-background-image: linear-gradient(to right, rgb(248, 150, 3, 0), rgb(206, 75, 3, 0.75), rgb(248, 150, 3, 0));
  -o-border: 0;
  -o-height: 2px;
  -o-background-image: linear-gradient(to right, rgb(248, 150, 3, 0), rgb(206, 75, 3, 0.75), rgb(248, 150, 3, 0));
  -webkit-border: 0;
  -webkit-height: 2px;
  -webkit-background-image: linear-gradient(to right, rgb(248, 150, 3, 0), rgb(206, 75, 3, 0.75), rgb(248, 150, 3, 0));
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgb(248, 150, 3, 0), rgb(206, 75, 3, 0.75), rgb(248, 150, 3, 0));
}

.asterisk-section p {
  padding: 0 auto;
  margin: 0 auto;
  line-height: 1.25rem;
}

.signup-form,
.refer-form {
  margin-top: 7rem;
}

.refer-form p {
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#social-bar a {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  /* line-height: 3; */
}

#social-bar p {
  color: white;
  position: relative;
  left: -10px;
  padding-top: 10px;
}

#social-bar {
  height: 250px;
  width: 10px;
  position: fixed;
  top: 230px;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  z-index: 1000;
}

#social-bar p i {
  left: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}

.social {
  margin-left: -200px;
  width: 230px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: rgba(128, 128, 128, 0.73);
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 0px 0px 6px 0px #3e3d3d;
  cursor: pointer;
}

.social:hover {
  margin-left: -30px;
  width: 230px;
  background-color: #3b5998;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter:hover {
  background-color: #4099ff;
}

.share:hover {
  background-color: #ce6254;
}

.linkedin p i {
  left: 20px;
}

.share p i {
  left: 35px;
}

.pinterest p i {
  left: 18px;
}

.pinterest:hover {
  background-color: #bd081c;
}

.linkedin:hover {
  background-color: #0976b4;
}

/* //////////////// MEDIA QUERIES //////////////// */
/* medium */
@media (max-width: 991px) {
  #home-sidebar {
    border-left: none !important;
    margin-top: 1.5rem;
    border-top: 1px solid #dee2e6;
    padding-top: 2.5rem;
  }

  #second-div-sidebar {
    border-bottom: none !important;
  }

  #regis-event-img {
    max-width: 400px;
    max-height: 250px;
  }

  #social-bar {
    height: 230px;
    width: 8px;
    top: 150px;
    padding: 5px;
    margin-left: 1px;
  }

  #social-bar p i {
    left: 25px;
  }

  #social-bar p {
    left: 0;
  }
}

/* small */
@media (max-width: 767px) {
  #mainHeading {
    font-size: 4rem;
  }

  .signup-form h1,
  .refer-form h1 {
    font-size: 2rem;
    margin-bottom: 2rem !important;
  }

  #regis-event-img {
    max-width: 350px;
    max-height: 225px;
  }
}

/* extra small */
@media (max-width: 575px) {
  #mainHeading {
    font-size: 2.75rem;
  }

  .signup-form h1,
  .refer-form h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem !important;
  }
}
